@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

.custom-field {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  border-radius: 6px;
  width: 400px;
  height: 50px;
  outline: none;
  font-size: 16px;
  padding: 0 18px;

  &::placeholder {
    color: #b3b3b3;
  }
}

.nav-link{
 color: #042d58 !important;
}


.btn-submit {
  color: white !important;
  background-color: #ff7d1b !important;
  padding: 2px 25px !important;
  font-weight: 700 !important;
  font-size: 19px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.title{
  font-weight: 700;
  margin-bottom: 20px;
}

.sub-title{
  font-size: 20px;
  font-weight: 500;
}

.checkbox-container{
  width: 600px;
}

.checkbox-label{
  font-size: 16px;
  font-weight: 700;
}

.mockup-image{
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.branding{
  color: #042d58 !important;
  margin: 0;
  font-size: 38px;
  letter-spacing: 2px;
}

.text-underlined{
  text-decoration: underline;
}

.lp-2{
  letter-spacing: 2px;
}

.tuo-8{
  text-underline-offset: 5px;
}

.branding-subtitle{
  color: grey !important;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-top: -14px;
  letter-spacing: -0.5px;
}

.description{
  margin-left:35px;
  margin-right:28px;
}